* {
    font-family: sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: grey;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F5%2F9%2F0%2F1012298-stars-backgrounds-1920x1080-for-iphone.jpg&f=1&nofb=1");
    background-size: cover;
}

/* stilizzazione barra-menu */
.barra-menu {
    background-color: black;
}

/* stilizzazione logo */
.logo {
    text-align: center;
}

.logo img {
    width: 145px;
}

/* stilizzazione menu */

.menu li {
    display: inline-block;
    padding: 0 10px;
}

.menu a {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.menu {
    text-align: center;
    line-height: 77px;
}

/* stilizzazione immagini */
.immagine {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.immagine img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* media query*/

@media screen and (min-width: 768px) {
    .menu {
        text-align: left;
    }

    .logo {
        text-align: left;
    }
}
